header {
    text-align: center;
}

header h1{
    font-size: 38px;
    margin-bottom: 6px;
}

header h2 {
    display: inline;
    font-size: 18px;
    font-weight: normal;
}

main {
    margin: 20px;
}

main section:first-of-type h2 {
    margin-top: 24px;
}

main h2 {
    border-bottom: 1px solid black;
    margin-bottom: -2px;
    margin-top: 28px;
    font-size: 26px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 2px; 
}

section h3:first-of-type {
    margin-top: 18px;
}

ul {
    margin-top: 2px;
}

section:last-of-type ul {
    margin-top: 20px;
}

/* desktop layout */
@media (min-width: 1200px) {

    main {
        width: 65%;
        margin: 40px auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    main section:nth-of-type(1) {
        grid-column: 1 / -1;
    }

    main section:nth-of-type(2) {
        grid-column: 1;
        grid-row: 2;
    }

    main section:nth-of-type(4) {
        grid-column: 1;
        grid-row: 3;
    }

    main section:nth-of-type(5) {
        grid-column: 1;
        grid-row: 4;
    }

    main section:nth-of-type(3) {
        grid-column: 2;
        grid-row: 2 / 5;
    }

    main {
        margin-top: 30px;
    }

    main h2 {
        margin-top: 0px;
    }

}
