header {
    background-color: red;
    position: fixed;
    top: 0px;
    left: 200px;
    font-size: 34px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#menuItems {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: black;
    text-align: center;
}

#menuItems button {
    background-color: blue;
    color: white;
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border: none;
    border: 1px solid black;
}

#menuItems button:hover {
    background-color: orange;
}

#jumpMenu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background-color: orange;
}

#recentArticles:hover + #jumpMenu, 
#jumpMenu:hover {
    display: block;
}

#jumpMenu a {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    color: blue;
    text-decoration: none;
    padding: 2px;
}

#jumpMenu a:hover {
    background-color: blue;
    color: black;
}

#container p::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}