header {
    background-color: pink;
    text-align: center;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    width: auto;
    height: auto;
}

#jumpMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    background-color: rgb(245, 172, 174);
    height: 100%;
    text-align: center;
    line-height: 2;
}

main {
    margin-left: 200px;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: rgb(144, 213, 238);
    justify-content: center;
    padding: 10px;
    gap: 40px;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid lightgray;
    background: lightyellow;
    padding: 30px;
}