header {
    background-color: pink;
    text-align: center;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 200px;
    right: 0;
    width: auto;
    height: auto;
}

header p {
    font-size: 40px;
    font-weight: bold;
}

header nav button {
    background-color: white;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    width: 125px;
}

#jumpMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    background-color: rgb(245, 172, 174);
    height: 100%;
    text-align: center;
}

#jumpMenu a {
    line-height: 3.5;
}

main {
    margin-left: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    padding: 25px;
    margin-top: -18px;
    gap: 40px;
}

#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid lightgray;
    background: lightyellow;
    padding: 30px;
    border-radius: 4px;
}